quanligiaohang.dtd

<!ELEMENT ECommerce (Customers, Addresses, Categories, Products, Shippers, Orders, OrderDetails, Payments, Trackings)>


<!-- ================== CUSTOMERS ================== -->
<!ELEMENT Customers (Customer+)>
<!ELEMENT Customer (FullName, Phone, Email)>
<!ATTLIST Customer 
    CustomerID ID #REQUIRED
    DefaultAddressID IDREF #IMPLIED
>

<!ELEMENT FullName (#PCDATA)>
<!ELEMENT Phone (#PCDATA)>
<!ELEMENT Email (#PCDATA)>

<!-- ================== ADDRESSES ================== -->
<!ELEMENT Addresses (Address+)>
<!ELEMENT Address (Street, City, District, Ward)>
<!ATTLIST Address
    AddressID ID #REQUIRED
    CustomerID IDREF #REQUIRED
>

<!ELEMENT Street (#PCDATA)>
<!ELEMENT City (#PCDATA)>
<!ELEMENT District (#PCDATA)>
<!ELEMENT Ward (#PCDATA)>

<!-- ================== CATEGORIES ================== -->
<!ELEMENT Categories (Category+)>
<!ELEMENT Category (CategoryName, Description)>
<!ATTLIST Category
    CategoryID ID #REQUIRED
>

<!ELEMENT CategoryName (#PCDATA)>
<!ELEMENT Description (#PCDATA)>

<!-- ================== PRODUCTS ================== -->
<!ELEMENT Products (Product+)>
<!ELEMENT Product (ProductName, Price, Weight)>
<!ATTLIST Product
    ProductID ID #REQUIRED
    CategoryID IDREF #REQUIRED
>

<!ELEMENT ProductName (#PCDATA)>
<!ELEMENT Price (#PCDATA)>
<!ELEMENT Weight (#PCDATA)>

<!-- ================== SHIPPERS ================== -->
<!ELEMENT Shippers (Shipper+)>
<!ELEMENT Shipper (FullName, ImgUrl, Phone, Area)>
<!ATTLIST Shipper
    ShipperID ID #REQUIRED
>

<!ELEMENT ImgUrl (#PCDATA)>
<!ELEMENT Area (#PCDATA)>

<!-- ================== ORDERS ================== -->
<!ELEMENT Orders (Order+)>
<!ELEMENT Order (OrderDate, Status, TotalAmount)>
<!ATTLIST Order
    OrderID ID #REQUIRED
    CustomerID IDREF #REQUIRED
    ShipperID IDREF #IMPLIED
    AddressID IDREF #IMPLIED
>

<!ELEMENT OrderDate (#PCDATA)>
<!ELEMENT Status (#PCDATA)>
<!ELEMENT TotalAmount (#PCDATA)>

<!-- ================== ORDER DETAILS ================== -->
<!ELEMENT OrderDetails (OrderDetail+)>
<!ELEMENT OrderDetail (Quantity, UnitPrice)>
<!ATTLIST OrderDetail
    OrderID IDREF #REQUIRED
    ProductID IDREF #REQUIRED
>

<!ELEMENT Quantity (#PCDATA)>
<!ELEMENT UnitPrice (#PCDATA)>

<!-- ================== PAYMENTS ================== -->
<!ELEMENT Payments (Payment+)>
<!ELEMENT Payment (PaymentType, PaymentStatus, PaymentDate)>
<!ATTLIST Payment
    PaymentID ID #REQUIRED
    OrderID IDREF #REQUIRED
>

<!ELEMENT PaymentType (#PCDATA)>
<!ELEMENT PaymentStatus (#PCDATA)>
<!ELEMENT PaymentDate (#PCDATA)>

<!-- ================== TRACKINGS ================== -->
<!ELEMENT Trackings (Tracking+)>
<!ELEMENT Tracking (Status, Location, UpdateTime, EstimatedDeliveryTime, Note)>
<!ATTLIST Tracking
    TrackingID ID #REQUIRED
    OrderID IDREF #REQUIRED
>

<!ELEMENT Location (#PCDATA)>
<!ELEMENT UpdateTime (#PCDATA)>
<!ELEMENT EstimatedDeliveryTime (#PCDATA)>
<!ELEMENT Note (#PCDATA)>
